parameters:
  excludes_analyse:
    - %currentWorkingDirectory%/vendor/*
  includes:
    - %rootDir%/../phpstan-deprecated-rules/rules.neon
    - %rootDir%/../phpstan-strict-rules/rules.neon
  ignoreErrors:
    - '#Result of && is always false#'
